# Module 1.08: Preparing Data for Forecasting - Timeline Engineering

> **Goal:** Fill gaps, impute missing values, merge calendar → forecast-ready dataset.

### From Triage to Treatment

Module 1.06 *diagnosed* the issues — dtype problems, missing values, duplicates. Now we fix them.

| 1.06 Found | 1.08 Fixes |
|------------|------------|
| Gaps in timeline | Fill with `fill_gaps` |
| NAs in target | Impute (zero = no sales) |
| Daily data | Aggregate to weekly |
| Calendar separate | Merge calendar features |

The output is a **complete, regular timeline** — the foundation diagnostics and models require.

---
## 1. Setup

In [1]:
import warnings
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from utilsforecast.preprocessing import fill_gaps
from dtype_diet import optimize_dtypes, report_on_dataframe
import forecast_foundations as ff
from forecast_foundations.reports import ModuleReport
import tsforge as tsf

env = ff.setup_notebook()
DATA_DIR = env.DATA_DIR
cache = env.cache
output = env.output

✓ Setup complete | Root: real-world-forecasting-foundations | Notebook: 1.08_data_preparation | Data: /Users/lindsaytruong/forecast-academy/real-world-forecasting-foundations/data | Cache: on

---
## 2. Load Data

### 2.1 Load from 1.06

In [2]:
# What did we get from first contact?
weekly_sales, report_1_06 = output.load('1_06_first_contact', with_report=True)
report_1_06.summary

✓ Loaded '1_06_first_contact'
   Shape: 6,848,638 × 8
   Report: ✓

{'Rows': '6,848,638',
 'Series': '30,490',
 'Dates': '2011-01-23 → 2016-06-19',
 'Frequency': 'Weekly',
 'History': '282 weeks (5.4 yrs)',
 'Target zeros': '24.0%'}

### 2.2 Preserve metadata

`fill_gaps` drops non-core columns. Store hierarchy now, rejoin later.

In [3]:
# What columns will we lose?
hierarchy_cols = ['item_id', 'store_id', 'dept_id', 'cat_id', 'state_id']
hierarchy_cols = [c for c in hierarchy_cols if c in weekly_sales.columns]

hierarchy_df = weekly_sales[['unique_id'] + hierarchy_cols].drop_duplicates(subset=['unique_id'])
hierarchy_df.head()

              unique_id        item_id store_id    dept_id   cat_id state_id
0    HOBBIES_1_001_CA_1  HOBBIES_1_001     CA_1  HOBBIES_1  HOBBIES       CA
154  HOBBIES_1_001_CA_2  HOBBIES_1_001     CA_2  HOBBIES_1  HOBBIES       CA
307  HOBBIES_1_001_CA_3  HOBBIES_1_001     CA_3  HOBBIES_1  HOBBIES       CA
460  HOBBIES_1_001_CA_4  HOBBIES_1_001     CA_4  HOBBIES_1  HOBBIES       CA
614  HOBBIES_1_001_TX_1  HOBBIES_1_001     TX_1  HOBBIES_1  HOBBIES       TX

---

<div style="text-align: center;">

## 3. `Q3: Cadence` — Defines the Time Grid

<div style="background: linear-gradient(135deg, #2d42a7 0%, #3a2f7e 100%); color: white; padding: 12px 20px; border-radius: 8px; margin: 10px auto; max-width: 600px;">
<strong>Are the time intervals regular and complete?</strong><br>
<em>Gaps break lag features and corrupt rolling calculations.</em>
</div>

</div>

### 3.1 Diagnose gaps

In [4]:
# How many series have gaps?
date_diag = tsf.datetime_diagnostics(
    df=weekly_sales,
    id_col="unique_id",
    date_col="ds",
    target_col="y",
)

n_series_with_gaps = (date_diag['n_gaps'] > 0).sum()
n_series_with_gaps

0

### 3.2 Detect frequency

In [5]:
# What frequency should we fill at?
freq = pd.infer_freq(weekly_sales['ds'].drop_duplicates().sort_values())
freq

'W-SUN'

### 3.3 Fill gaps

In [6]:
# before fill gaps
len(weekly_sales)

6848638

In [7]:
weekly_filled = fill_gaps(
    weekly_sales[['unique_id', 'ds', 'y']],
    freq=freq
)
# after filling gaps
len(weekly_filled)

6848887

In [8]:
weekly_filled = weekly_filled.sort_values(['unique_id', 'ds']).reset_index(drop=True)

In [9]:
# Flag gaps before imputation (for traceability)
weekly_filled['is_gap'] = weekly_filled['y'].isna().astype(int)
n_gaps = weekly_filled['is_gap'].sum()

### 3.4 Restore metadata

In [10]:
# Rejoin hierarchy columns
weekly_filled = weekly_filled.merge(hierarchy_df, on='unique_id', how='left')
weekly_filled.head()

,unique_id,ds,y,is_gap,item_id,store_id,dept_id,cat_id,state_id
0,FOODS_1_001_CA_1,2011-01-23,3.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA
1,FOODS_1_001_CA_1,2011-01-30,9.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA
2,FOODS_1_001_CA_1,2011-02-06,7.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA
3,FOODS_1_001_CA_1,2011-02-13,8.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA
4,FOODS_1_001_CA_1,2011-02-20,14.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA

---

<div style="text-align: center;">

## 4. `Q1: Target` — Defines What We're Predicting

<div style="background: linear-gradient(135deg, #2596be 0%, #3a2f7e 100%); color: white; padding: 12px 20px; border-radius: 8px; margin: 10px auto; max-width: 600px;">
<strong>How do we treat missing target values?</strong><br>
<em>Imputation strategy depends on domain knowledge and business context.</em>
</div>

</div>

Now that we have a complete time grid with `y = NaN` for gap rows, we need to decide **how to fill those NaNs**. This is a business decision, not a technical one.

### 4.1 Check remaining NAs

In [11]:
# How many NAs do we need to fill?
weekly_filled['y'].isna().sum()

249

### 4.2 Impute missing values

See slides for imputation strategies. For retail: missing weeks typically mean zero sales.

In [12]:
# Apply zero fill
weekly_filled['y'] = weekly_filled['y'].fillna(0)

In [13]:
# Verify no NAs remain
weekly_filled['y'].isna().sum()

0

---

<div style="text-align: center;">

## 5. `Q4: Data` — Defines What the Model Learns

<div style="background: linear-gradient(135deg, #1d1f56 0%, #2d42a7 100%); color: white; padding: 12px 20px; border-radius: 8px; margin: 10px auto; max-width: 600px;">
<strong>What features can we safely add without leakage?</strong><br>
<em>Calendar features are known-at-time — safe for any forecast date.</em>
</div>

</div>

The `calendar.csv` file is **daily**, but our sales are **weekly**. We need to:
1. Determine week alignment (start vs end)
2. Create a matching week column in calendar
3. Aggregate daily features to weekly

### 5.1 Load calendar

In [14]:
# What's available?
calendar = ff.load_m5_calendar(DATA_DIR)
calendar['date'] = pd.to_datetime(calendar['date'])

calendar.shape

Loading calendar from: /Users/lindsaytruong/forecast-academy/real-world-forecasting-foundations/data/m5/datasets/calendar.csv
  Shape: 1,969 rows × 13 columns

(1969, 13)

In [15]:
calendar.head()

,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,NaN,NaN,NaN,NaN,1,0,1

### 5.2 Align daily to weekly

In [16]:
# How do we match calendar dates to our ds?
# Our ds is week-start (Sunday) — Walmart fiscal week runs Sun-Sat
calendar['week_start'] = calendar['date'] - pd.to_timedelta(
    (calendar['date'].dt.dayofweek + 1) % 7, unit='D'
)

calendar[['date', 'week_start', 'weekday']].head(14)

         date week_start    weekday
0  2011-01-29 2011-01-23   Saturday
1  2011-01-30 2011-01-30     Sunday
2  2011-01-31 2011-01-30     Monday
3  2011-02-01 2011-01-30    Tuesday
4  2011-02-02 2011-01-30  Wednesday
5  2011-02-03 2011-01-30   Thursday
6  2011-02-04 2011-01-30     Friday
7  2011-02-05 2011-01-30   Saturday
8  2011-02-06 2011-02-06     Sunday
9  2011-02-07 2011-02-06     Monday
10 2011-02-08 2011-02-06    Tuesday
11 2011-02-09 2011-02-06  Wednesday
12 2011-02-10 2011-02-06   Thursday
13 2011-02-11 2011-02-06     Friday

### 5.3 Aggregate calendar

In [17]:
# How do we roll up daily features to weekly?
weekly_calendar = ff.aggregate_calendar_to_weekly(calendar)
weekly_calendar.head()

,ds,wm_yr_wk,month,year,snap_CA,snap_TX,snap_WI,event_name_1,event_name_2,event_name_3,event_type_1,event_type_2,event_type_3
0,2011-01-23,11101,1,2011,0,0,0,None,None,None,None,None,None
1,2011-01-30,11101,1,2011,1,1,1,None,None,None,None,None,None
2,2011-02-06,11102,2,2011,1,1,1,SuperBowl,None,None,Sporting,None,None
3,2011-02-13,11103,2,2011,0,1,1,ValentinesDay,None,None,Cultural,None,None
4,2011-02-20,11104,2,2011,0,0,0,PresidentsDay,None,None,National,None,None

### 5.4 Merge into sales

In [18]:
# before merge
weekly_filled.shape

(6848887, 9)

In [19]:
# merge sales with calendar on ds col
merged = weekly_filled.merge(weekly_calendar, on='ds', how='left')

In [20]:
# Did the join work?
merged.shape

(6848887, 21)

In [21]:
merged.head()

,unique_id,ds,y,is_gap,item_id,store_id,dept_id,cat_id,state_id,wm_yr_wk,...,year,snap_CA,snap_TX,snap_WI,event_name_1,event_name_2,event_name_3,event_type_1,event_type_2,event_type_3
0,FOODS_1_001_CA_1,2011-01-23,3.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA,11101,...,2011,0,0,0,None,None,None,None,None,None
1,FOODS_1_001_CA_1,2011-01-30,9.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA,11101,...,2011,1,1,1,None,None,None,None,None,None
2,FOODS_1_001_CA_1,2011-02-06,7.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA,11102,...,2011,1,1,1,SuperBowl,None,None,Sporting,None,None
3,FOODS_1_001_CA_1,2011-02-13,8.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA,11103,...,2011,0,1,1,ValentinesDay,None,None,Cultural,None,None
4,FOODS_1_001_CA_1,2011-02-20,14.0,0,FOODS_1_001,CA_1,FOODS_1,FOODS,CA,11104,...,2011,0,0,0,PresidentsDay,None,None,National,None,None

In [22]:
# Final column check
merged.columns

Index(['unique_id', 'ds', 'y', 'is_gap', 'item_id', 'store_id', 'dept_id',
       'cat_id', 'state_id', 'wm_yr_wk', 'month', 'year', 'snap_CA', 'snap_TX',
       'snap_WI', 'event_name_1', 'event_name_2', 'event_name_3',
       'event_type_1', 'event_type_2', 'event_type_3'],
      dtype='object')

### 5.5 Optimize dtypes

In [23]:
## Downcast dtypes after merging to reduce memory usage
merged = optimize_dtypes(merged, report_on_dataframe(merged))

---

<div style="text-align: center;">

## 5. `Q5: Ownership` — Defines Transparency

<div style="background: linear-gradient(135deg, #1d1f56 0%, #3a2f7e 100%); color: white; padding: 12px 20px; border-radius: 8px; margin: 10px auto; max-width: 600px;">
<strong>What did we decide? Based off of which assumptions?</strong><br>
<em>Document decisions so downstream users can trace and adjust.</em>
</div>

</div>

### 6.1 Log Decisions

| Step | Decision | Why |
|------|----------|-----|
| Gap filling | `fill_gaps` to complete timeline | Models require regular intervals |
| Imputation | Zero fill (missing = no sales) | Retail: no record = no demand |
| Calendar | Aggregate daily → weekly | Match business planning cadence |
| Hierarchy | Preserve via separate merge | Enables slicing by dept/store |

### 6.2 Generate report

In [24]:
# What changed vs 1.06?
report_1_08 = ModuleReport(
    "1.08",
    input_df=weekly_sales,
    output_df=merged,
)

report_1_08.display()

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
1.08 · Data Preparation
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

SNAPSHOT
─────────────────────────────────────────────────────────────────
       unique_id         ds   y  is_gap     item_id store_id dept_id cat_id state_id  wm_yr_wk  month  year  snap_CA  snap_TX  snap_WI event_name_1 event_name_2 event_name_3 event_type_1 event_type_2 event_type_3
FOODS_1_001_CA_1 2011-01-23 3.0       0 FOODS_1_001     CA_1 FOODS_1  FOODS       CA     11101      1  2011        0        0        0          NaN          NaN          NaN          NaN          NaN          NaN
FOODS_1_001_CA_1 2011-01-30 9.0       0 FOODS_1_001     CA_1 FOODS_1  FOODS       CA     11101      1  2011        1        1        1          NaN          NaN          NaN          NaN          NaN          NaN
FOODS_1_001_CA_1 2011-02-06 7.0       0 FOODS_1_001     CA_1 FOODS_1  FOODS       CA     11102      2  2011        1        1        1    SuperBowl          NaN          NaN     Sporting          NaN          NaN

DATA SUMMARY
─────────────────────────────────────────────────────────────────
  Rows            6,848,887
  Series          30,490
  Dates           2011-01-23 → 2016-06-19
  Frequency       Weekly
  History         282 weeks (5.4 yrs)
  Target zeros    24.0%

MEMORY
─────────────────────────────────────────────────────────────────
  ✓ 232 MB (Medium) — Fine for most operations

5Q CHECKS
─────────────────────────────────────────────────────────────────

  Q1 · Target
    ✓ ds exists              Yes
    ✓ ds is datetime         datetime64[ns]
    ✓ No NAs in ds           0
    ✓ y exists               Yes
    ✓ y is numeric           float32
    ✓ NAs in y               0 (0.0%)
    ℹ Zeros                  24.0%
    ✓ Negative values        0
    ℹ Constant series        0.0% (0/30,490)
    ⚠ Extreme spikes (robust z>10) 252,934
    ✓ ds weekday consistency 100.0% on weekday=6 (0=Mon)

  Q2 · Metric
    ✓ Duplicates             0
    ✓ Within-series frequency (sample) 500/500 match 7d
    ✓ Gaps remaining (>expected step) 0 gaps across 0 series
    ✓ End date alignment     Aligned
    ℹ Start date alignment   260 different
    ℹ Series coverage (p10 / p50) 41% / 92%

  Q3 · Structure
    ✓ Date range             2011-01-23 → 2016-06-19
    ℹ History                282 weeks (5.4 yrs)
    ✓ Frequency              Weekly
    ✓ Series                 30,490
    ✓ Hierarchy              3 state_id → 10 store_id → 3 cat_id → 7 dept_id
    ℹ Series per date        6,979 – 30,490 (Variable)
    ✓ Timestamps sorted within series (sample) 30,490/30,490 monotonic
    ⚠ Complete panel (series per date) 6,979 – 30,490 (target 30,490)

  Q4 · Drivers
    ✓ Calendar merged        Features attached
    ✓ Merge success          100% matched
    ℹ Join key               ds (week start)
    ✓ Calendar nulls (last 8 dates) 0.0%

READINESS
─────────────────────────────────────────────────────────────────
  ✓ Timeline complete      All gaps filled
  ✓ No NAs in target       All values filled
  ✓ Series aligned         All end same date
  ⚠ Complete panel         No
  ✓ Frequency stable       Weekly

BLOCKING ISSUES
─────────────────────────────────────────────────────────────────
  None ✓

CHANGES
─────────────────────────────────────────────────────────────────
  Rows            6,848,638 → 6,848,887  (+0%)
  Memory          134.1 MB → 232.1 MB  (+73%)

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
Generated: 2025-12-23 06:11
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

### 6.3 Save

In [25]:
output.save(df=merged, report=report_1_08)

✓ Report saved: /Users/lindsaytruong/forecast-academy/real-world-forecasting-foundations/data/output/reports/1.08_data_preparation_report.txt
✓ Saved '1.08_data_preparation'
   Data:   data/1.08_data_preparation_output.parquet (11.27 MB, 6,848,887 rows)
   Report: reports/1.08_data_preparation_report.txt

PosixPath('/Users/lindsaytruong/forecast-academy/real-world-forecasting-foundations/data/output/data/1.08_data_preparation_output.parquet')

### 6.4 Next Steps

| Module | Focus |
|--------|-------|
| **1.9** | Diagnostics: The Big Picture (tsfeatures, forecastability camps, structure vs chaos) |
| **1.10** | The Lie Detector 6 (trend, seasonality, MI, entropy, intermittency, lumpiness) |
| **1.11** | GenAI-Assisted Diagnostics Using SPICE (prompt structure, safe constraints, 3 diagnostic questions) |
| **1.12** | First Look: Plotting Your Data (3-plot EDA workflow, demand archetypes, tsforge plotting helpers) |
| **1.13** | Understanding the Patterns (reading time series shapes, Pattern→Expectations matrix, detecting model failure) |
| **1.14** | Designing the Backtest Strategy (in-sample vs out-of-sample, rolling-origin, Walmart backtest plan) |